.project-container{
  padding-top: 5rem;
  padding-bottom: 8rem;
  text-align: center;
}


.project-title {
  text-align: left;
  color: var(--DarkGrey);
  padding-bottom: 3rem;
}

.project-card-text{
  height: 5em;
}

.project-container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background-color: var(--DarkGrey);
  padding: 10px;
  margin: 5px;
  box-shadow: 1px 5px 5px black;
  border: 1px solid rgba(0,0,0,0);
}

.InfiniteCarouselFrame > ul{
 padding: 8px !important;
}

@media only screen and (max-width: 680px) {
  #infinite-carousel {
    width: 80% !important;
  }
  .project-title {
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {
  .project-title {
    text-align: center;
  }
}

.CloseImg {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: bolder;
  font-family: cursive;
  top: 2.5%;
  right: 5%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 4;
}
.backdrop {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.backdrop img {
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 560px) {
  .backdrop img {
    margin-top: 15%;
  }
}

.Ems{
  width: 80%;
  height: 75%;
}
.navbar{
z-index: 1 !important;
}